body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  background-color: #e9e9e9;
}

.loader {
  display: flex;
  flex: 1;
  min-height: 150px;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.add-btn-div {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.header {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 25px;
}

.searchIcon {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.inputBox {
  width: 100%;
  height: 60%;
  border: none;
  outline: none;
}

.searchDiv {
  background-color: white;
  border-radius: 30px;
  border: 2px solid black;
  border-color: black;
  border-width: 1;
}

.searchBox {
  flex: none;
  align-items: center;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container1 i {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 30px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .searchBox {
    flex: 1;
    align-items: center;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

.select {
  align-self: center;
}
